<footer class="mt-4 pt-4 ">
    <div class="container border-top">
        <div class="row">
            <div class="col-12 col-md">
                <h5>HotelHouse</h5>
                <small class="d-block text-white">&copy; 2022</small>
            </div>
            
            <div class="col-6 col-md">
                <ul class="list-unstyled">
                    <li><a href="#" class="text-white">Mentions légales</a></li>
                    <li><a href="#" class="text-white">Politique de confidentialité</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container-fluid bg-dark">
        <div class="row">
            <div class="col">
                <p class="text-center text-white">&copy; HotelHouse 2022 Made with ❤ by
            <a href="https://github.com/mastfel"class="text-reset"
            >Mast</a></p>
            </div>
        </div>
    </div>


    
</footer>