{% extends 'base.html.twig' %}
{% block title %}Accueil{% endblock %}

{% block body %}

<div class="row">
        <div class="col-10 mx-auto my-4">
            {% include 'include/_flashes.html.twig' %}
        </div>
    </div>




















{% endblock %}