{% extends 'base.html.twig' %}

{% block title %}{% endblock %}
{% block body %}
<h1>Bienvenue  dans notre restaurant</h1>
 <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem, voluptatem illum ipsa molestias deserunt deleniti, hic ullam necessitatibus excepturi pariatur, ut placeat. Laborum qui adipisci fugiat deleniti cupiditate aliquid facere illum inventore, saepe id. Aspernatur soluta quibusdam velit, sed reprehenderit numquam facilis fuga ducimus nobis architecto sit neque corporis rerum vitae nesciunt. Exercitationem, fugiat dolores, maxime aliquam numquam quaerat aliquid omnis, impedit corrupti suscipit eius quasi eos laboriosam minima optio minus iusto? Rerum similique nisi accusantium praesentium? Placeat soluta possimus fuga consectetur hic repudiandae similique nulla deserunt quidem error dignissimos, delectus sequi, illum doloremque iusto culpa ad ipsam ratione odit?</p>

 <figure class="figure">

	<img src={{asset('/media/rest1.jpg')}} width ="20%" class="figure-img img-fluid rounded" alt="restaurant">
    <img src={{asset('/media/rest2.jpg')}} width ="20%" class="figure-img img-fluid rounded" alt="restaurant">

</figure>

<h2>Carte de notre restaurant</h2>

<ul>
<li>AAAAAAAAAAA</li>
<li>BBBBBBBBBBB</li>
<li>RRRRRRR</li>
<li>KKKKKKKK</li>
<li>PPPPPPPPP</li>
<li>CCCCCCCCC</li>
</ul>

{% endblock %}