{% extends 'base.html.twig' %}

{% block title %}Ajouter un article{% endblock %}

{% block body %}

    
   
        <h1 class="text-center my-4">Modifier un slider</h1>
    

    <div class="row">
        <div class="col-10 mx-auto mb-5">
         
            {{ form(form) }}
           
        </div>
    </div>




{% endblock %}