{% extends 'base.html.twig' %}

{% block title %}Voir les chambres{% endblock %}

{% block body %}

{% if app.flashes %}
        <div class="row">
            <div class="col-9 mx-auto mb-5">
                {% include 'include/_flashes.html.twig' %}
            </div>
        </div>
    {% endif %}

    {% for chambre in chambres %}
        <div>
    
          
                <img src="{{ asset('uploads/' ~ chambre.photo) }}" class="card-img-top" alt="une photo" style="object-fit: contain;" width="230" height="200">
                <div class="card-body">
                    <h5 class="card-title title">{{ chambre.titre }}</h5>
                    <p class="card-text description">{{ chambre.descriptionCourte  }}</p>
                    <p class="card-text col-9 mx-auto mb-5 ">{{ chambre.descriptionLongue  }} </p>
                </div>
        </div>

     
    {% endfor %}

{% endblock %}