{% extends 'base.html.twig' %}

{% block title %}Voir les chambres{% endblock %}

{% block body %}

{% if app.flashes %}
        <div class="row">
            <div class="col-8 mx-auto mt-3">
                {% include 'include/_flashes.html.twig' %}
            </div>
        </div>
    {% endif %}

    {% for chambre in chambres %}
        <div class="col-3 mx-2">
            <div class="card" style="width: 18rem;">
                <img src="{{ asset('uploads/' ~ chambre.photo) }}" class="card-img-top" alt="une photo" style="object-fit: contain;" width="150" height="220">
                <div class="card-body">
                    <h5 class="card-title">{{ chambre.titre }}</h5>
                    <p class="card-text">{{ chambre.descriptionCourte  }}</p>
                     <p class="card-text">{{ chambre.descriptionLongue  }}</p>
                   
                </div>
            </div>
        </div>
    
    {% endfor %}

{% endblock %}